# .\deploy\Scripts\activate
# streamlit run app.py
# --- Core Web App ---
streamlit
streamlit-cookies-controller
python-dotenv
requests
# --- Database & Authentication ---
PyMySQL
bcrypt
SQLAlchemy
XlsxWriter
# --- Data Manipulation & Visualization ---
pandas
numpy
plotly
matplotlib
# --- Machine Learning ---
scikit-learn
imbalanced-learn
xgboost
scikit-optimize